<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <div style="display: none" id="xml"><%= xml %></div>
    <div id="root"><%- markup %></div><script src="<%= entry %>"></script>
  </body>
</html>
