<!DOCTYPE html>
<% title = "Class Model" %>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/app.css' />
    <link rel='stylesheet' href='/classModel.css' />
    <meta name='viewport' content="width=device-width, initial-scale=1"/>
  </head>
  <body>
    <div id="app"><%- markup %></div>
    <script src="/entityViewBundle.js"></script>
  </body>
</html>
