      <p><input type="file" name="docSource">
      <select name="writerName">
        <option>xml</option>
        <option>html</option>
        <option>pojo</option>
      </select></p>
      <p><textarea name="docSourceText" style="width: 60em; height: 30em;"></textarea></p>
    <input type="submit">
