/*nothing */
html, body {
    height: 100%;
}

#app {
    height: 100%;
}

.mainViewLayout {
    border: 1px solid black;
    height: 100%;
}

@mixin entity {
    opacity: .5;
    padding: 4px;
    border-radius: 6px;
    border: 1px solid black;
    display: inline-block;
    margin: .5em;
    height: 2in;
}

.projects {
    display: flex;
}

    
.project {
    @include entity;
}

.entityView__entity {
    @include entity;
}

.canDrop {
//    background-color: black;
}
.mainViewLayout {
    display: flex;
    flex-direction: column;
}
.mainView {
    flex-grow: 1;
}
